nav li{

    display: inline-block;
    text-align: right;
    font-size: 40px;
    padding-right: 20px;
    
}

nav ul {
    text-align: right;
    margin-right: 30px;
    margin-top: 14px;
}

nav a {

    text-decoration: none;
    color: #000;
}